{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "[Storage Account Connection String Here]",
    "FUNCTIONS_WORKER_RUNTIME": "dotnet",
    "CosmosDBConnectionString": "[Cosmos Connection String Here]",
    "ServiceBusConnectionString": "[Service Bus Connection String Here]"
  }
}
